@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap";

/* 381D2A
381D2A
9cb5f2
#b2a7ac
 */
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: white;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #381D2A !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.navbar ul {
    justify-content: center;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.nav-item.active {
    font-weight: 700;
}

.navbar-brand {
    color: black;
    font-weight: 700;
    padding-left: 10px;
    font-size: 1.5em;
}

.btn.btn-info {
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #381D2A;
    outline: none;
    box-shadow: none;
    color: #381D2A;
}

.btn.btn-info:hover {
    background-color: #381D2A;
    box-sizing: border-box;
    border: 2px solid white;
    color: white;
    outline: none;
    box-shadow: none;
}

.btn.btn-info.active,
.btn.btn-info:active:focus {
    background-color: #381D2A !important;
    box-sizing: border-box;
    border: 2px solid white !important;
    color: white !important;
    outline: none;
    box-shadow: none !important;
}

.dots {
    cursor: pointer;
    width: 38px;
    height: 31px;
    background-color: #381D2A;
    color: #800016;
    box-sizing: border-box;
    border: 2px solid white;
    outline: none;
    box-shadow: none;
    border-radius: 9% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots:hover {
    transition: all 0.3s;
    background-color: #381D2A;
    box-sizing: border-box;
    border: 2px solid transparent;
    color: white;
    outline: none;
    box-shadow: none;
}

.dots.active,
.dots:active:focus {
    transition: all 0.3s;
    background-color: #381D2A !important;
    box-sizing: border-box;
    border: 2px solid transparent !important;
    color: white !important;
    outline: none;
    box-shadow: none !important;
}

.navbar li {
    margin-right: 4rem;
}

.nav.nav-tabs {
    background-color: #b2a7ac;
    width: 100%;
    color: white;
    height: 45px;
    padding-left: 15px;
    padding-top: 8px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

.nav-link {
    height: 37px
}

.nav-link.active {
    background-color: #FAFAFA !important;
    border: none;
}

.nav.nav-tabs li {
    margin-right: 1rem;
    display: inline-flex;
}

.nav.nav-tabs li p {
    color: black;
    margin-right: 1rem;
}

#loadSystem {
    border: 2px solid white;
    color: white;
}

#loadSystem:hover {
    border: 2px solid transparent;
    color: white;
    background-color: #688dc4;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
    max-height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #381D2A;
    color: black;
    transition: all 0.3s;
    padding: 1%;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    color: black;
    height: 31px;
    font-weight: 400;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}
#sidebar .sidebar-header button{
    height: 100%;
    width: auto;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
}

#sidebar li p {
    font-weight: 400;
    font-size: 1.1em;
    color: white;
}

#sidebar ul ul p {
    font-weight: 400;
    font-size: 1em;
    color: #ddd;
}

.line {
    width: 109%;
    margin-left: -10px;
    height: 1px;
    border-bottom: 1px solid #dddddd66;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sidebarPin {
    width: 40px;
    height: 40px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.list-unstyled {
    color: white;
}
.nav-item a{
    color: white !important;
}
a.dropdown-item{
    color: black !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    background-color: #FAFAFA;
}

.mainContainer {
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: space-evenly;
}

.website {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1%;
    min-width: 49.5%;
    max-width: 50%;
    height: 100%;
    padding: auto;
    transition: all 0.3s ease-in-out;
}

.statechart {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1%;
    min-width: 49.5%;
    max-width: 50%;
    height: 100%;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.statechartSVG svg {
    width: 100%;
    height: 100%;

}

.spinner-border {
    display: none;
}

#website {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

#minimapContainer {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}


#statechartSVG {
    max-height: 800px;

    overflow-y: scroll;

    overflow-x: hidden;

}

#statechartSVG::-webkit-scrollbar {
    width: 8px;

}

#statechartSVG::-webkit-scrollbar-thumb {
    background-color: #888;

}

#statechartSVG::-webkit-scrollbar-track {
    background-color: #f0f0f0;

}

.layoutButtons {
    width: 214px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 4px;
}

.layoutButtons button {
    width: 47px;
    height: 90%;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 12%;
}

.layoutButtons button img {
    width: 31px;
    height: 16px;
}

.dragging {
    cursor: move;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1280px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}