<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title> YATF</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <!-- <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script> -->
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style.css" />


    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>


    <script src="js/userTasks.js"></script>
</head>

<body>
    <div class="wrapper">

        <!-- Page Content  -->
        <div id="content" style="overflow-y: scroll;">
            <!-- Main Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 3.2em">



                <div class="container-fluid">

                    <!-- <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                    </button> -->
                    <a class="navbar-brand" href="/" style="color: #52b0c3">YATF</a>
                    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                        <ul class="nav navbar-nav">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">System Overview</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/">Statechart</a>
                                    <a class="dropdown-item" href="#">Interactive Elements</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/userTraces">User Traces</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/userTasks">User Tasks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Version History</a>
                            </li>
                        </ul>
                    </div>

                    <div style="width: 250px;"></div>


                </div>
            </nav>
            <div class="mainContainer">

                <div id="traceContainer">
                    <div id="tableDiv" style="display: block;
                    width: 80%;
                    padding: 0.5%;transition: all 0.3s;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);">
                        <div style="display: flex;justify-content: space-between;">
                            <h1 id="tracesNum" style="margin-bottom: 2%;">Loading User Tasks... </h1>
                            <!-- <button  class="btn btn-secondary" onclick="resetFilters()" style="margin-top: 10px;height: 35px;">Clear Filters</button> -->
                        </div>

                        <div class="spinner-border" id="loadingIcon" role="status" style="display: block;margin-left: 50%;
                        margin-top: 22%;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        
                        <table class="table-responsive table-hover" id="tasktable">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 0.5%;padding-left: 1%;"><input type="checkbox"
                                            id="selectAllCheckbox"></th>
                                    <th scope="col" style="width: 1.5%;"><img src="images/task.png" width="20px"
                                            height="20px" />Task</th>
                                    <!-- <th scope="col" style="width: 2%;"><img src="images/idea.png" width="20px"
                                            height="20px" />Idea</th>
                                    <th scope="col" style="width: 2%;"><img src="images/category.png" width="20px"
                                            height="20px" />Category</th> -->
                                    <th scope="col" style="width: 2%;"><img src="images/interactorIcon.png" width="20px"
                                            height="20px" />Interactions</th>
                                    <th scope="col" style="width: 1%;"><img src="images/timeIcon.png" width="20px" 
                                        height="20px" />Average Ex. Time</th>
                                    <!-- <th scope="col" style="width: 4%;"><img src="images/boxPlot.png" width="20px"
                                            height="20px" />Total Time Distribution</th> -->
                                    <th scope="col" style="width: 4%;"><img src="images/variance.png" 
                                        width="20px" height="20px" />Variance in Ex. Time</th>
                                    <th scope="col" style="width: 2.5%;"><img src="images/errorIcon.png" width="20px" 
                                        height="20px" />Violations</th>
                                    <th scope="col" style="width: 2%;"><img src="images/correct.png" width="20px"
                                            height="20px" />Correctness percentage</th>
                                    
                                    <th scope="col" style="width: 1.5%;"><img src="images/golden.png" width="20px"
                                            height="20px" />Golden Trace</th>
                                    <!-- <th scope="col" style="width: 0.1%;"> </th> -->

                                </tr>
                            </thead>


                            <tbody id="tracesTable">
                                <!-- Table rows will be dynamically added here -->
                            </tbody>
                        </table>
                        
                        <div id="colorLegend" class="userTracesLegend" data-visible="false">
                            <button onclick="toggleLegend()">Legend
                                <img src="images/downArrow.png" id="colorLegendButton" width="20px" height="20px"
                                    style="transform: rotate(180deg);" />
                            </button>
                            <div style="display: flex;">
                                <div id="eventColumn" style="height: 100%;width: 60%;"></div>
                                <div id="violationsColumn" style="height: 100%;width: 40%;"></div>
                            </div>

                        </div>
                    </div>
                    <button class="selectTraceBtn" id="selectTraceBtn"></button>
                    <div class="extrainfoDiv" id="extrainfoDiv" data-visible="false">
                        <div style="display: flex;justify-content: space-between;">
                            <h1 id="traceInfoTitle">Task Information </h1>
                            <a class="newPageBtn" href="#" target="_blank" id="previewTrace"><img
                                    src="images/newPage.png" /></a>
                        </div>

                        <div id="placeholderText">Select a task to view more information</div>
                        <div id="extrainfoContent" style="opacity: 0;transition: all 0.3s;font-size: 14px;">
                            <div id="generalInfo">
                                <div style="display: flex;">
                                    <p>Idea: </p>
                                    <p id="idea" style="color: rgb(54, 54, 54);"></p>
                                </div>
                                <div style="display: flex;">
                                    <p>Category: </p>
                                    <p id="category" style="color: rgb(54, 54, 54);"></p>
                                </div>
                                <div style="display: flex;">
                                    <p>Description: </p>
                                    <p id="description" style="color: rgb(54, 54, 54);"></p>
                                </div>
                                <div style="display: flex;">
                                    <p>Ideal sequence: </p>
                                    <p id="idealSequence" style="color: rgb(54, 54, 54);"></p>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: space-between;margin-bottom: 44px;">
                                <div class="eventsDiv">
                                    <p id="mostPerformed"></p>
                                    <p>Task Interactions:</p>
                                    <ul id="interactionsList">
                                        <li>item 1</li>
                                        <li>item 2</li>
                                        <li>item 3</li>
                                    </ul>
                                </div>
                                <!-- <div id="heatmap"></div> -->
                                <!-- <div id="combinedHeatmaps"></div> -->
                            </div>
                            <div id="boxPlot"></div>
                            <div >
                                <p id="violationsTotal"></p>
                                <div id="violationsList">

                                </div>
                            </div>
                            <p id="varianceInfo"></p>
                            <!-- <div id="violationsHeatmap"></div> -->

                        </div>

                    </div>


                </div>


            </div>

</body>